<h1>
  Keep Track of Goals and Commitments
</h1>
<p>
CommitKit is a simple app for keeping track of your goals and commitments.
</p>
<p>
  Please send feedback to <%= link_to "Rick", "http://www.rickcarlino.com" %>.
</p>
<p>
  <%= image_tag('screenshot.png') %>
</p>
<h3>Related Apps</h3>
This app was a one day project to help me follow through with a New Year's resolution. It was inspired by several of the following productivity tools and practices:
<ul>
  <li><%= link_to "The Seingfeld Calendar", "http://lifehacker.com/281626/jerry-seinfelds-productivity-secret" %></li>
  <li><%= link_to "Joe's Goals", "http://joesgoals.com" %></li>
  <li><%= link_to "Github Contribution Calendar", "https://help.github.com/articles/viewing-contributions-on-your-profile-page/" %></li>
</ul>
