<%# add navigation links to this file %>
<% if current_user %>
  <li><%= link_to 'Dashboard', dashboard_path %></li>
  <li><%= link_to 'My Account', edit_user_registration_path %></li>
  <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
<% else %>
  <li><%= link_to 'Try it out!', new_user_registration_path, class: 'badge' %></li>
  <li><%= link_to 'Login', new_user_session_path %></li>
<% end %>

